@import url('https://fonts.googleapis.com/css2?family=Carter+One&family=Noto+Sans+JP:wght@900&family=Open+Sans&family=Roboto:wght@900&display=swap');

body {
    background-color: #102C57;
    color: white;
    font-family: 'Roboto', sans-serif;
}

.title {
    font-size: 3.5rem;
}

.submit-btn {
    background-color: green;
    border: none;
    padding : 15px;
    border-radius: 10px;
    font-size: 20px;
    color: white;
    font-weight: bold;
    width: 160px;
    cursor: pointer;
}

#title-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
}

#form-container {
    position: relative;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(0);
    transition: 200ms ease-in-out;
}

#form-container.active {
    transform: scale(1);
}

.form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-gap: 5px;
    height: 300px;
    width: 450px;
    border-radius: 20px;
}

.author, .book-title, .pages {
    grid-column-start: 1;
    grid-column-end: 3;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: solid white;
    font-size: 16px;
    padding: 10px;
    font-weight: bold;
}

input:nth-child(1) {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;  
}

.checkbox-container {
    grid-column-start: 1;
    grid-column-end: 3;
    display: flex;
    flex-direction: rows;
    align-items: center;
    justify-content: center;
}

.read-book-label {
    font-size: 25px;
}

input.checkbox {
    width: 25px;
    height: 25px;
}

.submit, .close {
    grid-row-start: 5;
    border: none;
    color: white;
    cursor: pointer;
    font-weight: bold;
}

.submit {
    background-color: green;
    border-bottom-left-radius: 10px;
}

.close {
    background-color: red;
    border-bottom-right-radius: 10px;
}

#overlay {
    z-index: 1;
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    pointer-events: none;
}

#overlay.active {
    opacity: 1;
    pointer-events: none;
}
