@import url('https://fonts.googleapis.com/css2?family=Carter+One&family=Noto+Sans+JP:wght@900&family=Open+Sans&family=Roboto:wght@900&display=swap');

body {
    background-color: #102C57;
    color: white;
    font-family: 'Roboto', sans-serif;
}

.title {
    font-size: 3.5rem;
}

.submit-btn {
    background-color: green;
    border: none;
    padding : 15px;
    border-radius: 10px;
    font-size: 20px;
    color: white;
    font-weight: bold;
    width: 160px;
    cursor: pointer;
}

#title-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
}

#form-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-gap: 3px;
    height: 300px;
    width: 400px;
}

input {
    grid-column-start: 1;
    grid-column-end: 3;
}

.submit, .close {
    grid-row-start: 4;
    border: none;
    color: white;
    cursor: pointer;
}

.submit {
    background-color: green;
}

.close {
    background-color: red;
}
